* {
    margin: 0;
    padding: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-before: 0;
    -webkit-padding-after: 0;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
}

#body {
    max-width: 1000px;
    margin: 0 auto;
    font-family: verdana;
}

h1 {
    color: #FFB453; /* orange */
    font-family: ubuntu;
    font-weight: normal;
}

#header {
    background: #ffffff;
    height: 80px;
}

#header #login_b {
    position: relative;
    float: right;
    top: 40px;
    right: 10px;
}

#header #headerimg {
	position: relative;
	top: 25px;
}

#header #login_b button,
#header #login_b input {
    background: #ffffff;
    margin-right: 5px;
    padding: 2px;
    border: 1px solid #023254;
    cursor: pointer;
}

#header #login_b button a {
    color: #000000;
    text-decoration: none;
}

#header #login-error-box {
    margin-right: 5px;
    padding: 4px;
}

#header #login-error-box a {
    color: #0000ff;
    text-decoration: underline;
    cursor: pointer;
}

#header #login_b input.credential {
    width: 100px;
}

#navbar {
    background: #023254; /* NAVY */
    height: 30px;
    font-family: verdana;
    font-size: 11px;
    font-weight: bold;
}

#navbar ul li {
    text-transform: uppercase;
    list-style-type: none;
    display: block;
    float: left;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
}

#navbar #home        #nav-home,
#navbar #about       #nav-about,
#navbar #register    #nav-register,
#navbar #predict     #nav-predict,
#navbar #forum       #nav-forum,
#navbar #admin       #nav-admin {
    background-color: #FFFFFF;
    color: #023254;
    font-size: 12px;
}

#navbar #home        #nav-home a,
#navbar #about       #nav-about a,
#navbar #register    #nav-register a,
#navbar #competition #nav-competition a,
#navbar #predict     #nav-predict a,
#navbar #results     #nav-results a,
#navbar #forum       #nav-forum a,
#navbar #admin       #nav-admin a {
    color:      inherit;
    font-size:  inherit;
}

#navbar #competition #nav-competition,
#navbar #results     #nav-results {
    background-color: #FFFFFF;
    color: #023254;
    font-size: 12px;
}

#navbar #competition #nav-competition.xpanded,
#navbar #results     #nav-results.xpanded {
    background-color: #FFB453;
    color:  #FFFFFF;
}

#navbar ul li a {
    color: #ffffff; /*#a1d2f5 light blue */
    text-decoration: none;
}

#navbar a:hover {
    color: #FFB453; /* orange */
}

#navbar .xpanded {
	background-color: #FFB453;
}

#navbar .xpanded a:hover {
    color: #FFFFFF;
}

#nav-xpand {
    display: none;
}

#nav-xpand ul {
    display: none;
    background: #FFB453;
    height: 30px;
}

#nav-xpand ul li {
    position: relative;
    list-style-type: none;
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    margin: 0 10px;
}

#nav-xpand ul li a {
	color: #023254;
	font-family: verdana;
    font-size: 11px;
    font-weight: bold;
	text-decoration: none;
    text-transform: uppercase;
}

#nav-xpand ul li a:hover {
    color: #FFFFFF;
}

#nav-xpand #left-spacer {
    width: 35px;
}

#marquee {
    background: #eaeaea;
    margin-top: 10px;
    color: #023254; /*#a1d2f5 light blue */
    text-decoration: none;
    font-family: verdana;
    font-size: 12px;
    height: 30px;
}

#marquee marquee {
    width: 1000px;
    position: relative;
    top: 6px;
}

#content {
    background: #ffffff;
    margin-top: 10px;
    min-height: 450px;
}

p {
    color: #023254;
    font-family: verdana;
    font-size: 11px;
    text-align: justify;
    padding: 5px;
}

#content #left_sect {
    float: left;
    width: 130px;
    min-height: 400px;
}

#content #left_sect #lboard {
	border: 1px solid #cccccc;
	padding: 2px 2px 2px 2px;
}

#content #center_sect {
    float: left;
    margin-left: 20px;
    width: 655px;
    min-height: 400px;
}

#content #recent_posts {
    float: right;
    width: 175px;
    min-height: 400px;
    color: #023254;
    font-family: verdana;
    font-size: 11px;
    text-align: left;
}

#content #recent_posts p {
    text-align: inherit;
}

#content #recent_posts .event-date {
    font-weight: bold;
    padding-right: 2px;
}

#bottom {
    background: #cccccc;
    position: absolute;
    width: 1000px;
    height: 70px;
    top: 700px;
    left: 220px;
}

.error {
    border:     1px solid #D82F2C;
    color:      #D82F2C;
    background: #FDE8E7;
    font-weight:normal;
    font-size:  11px;
}

.hidden {
    display: none;
}

.smallfont {
    color: #023254;
    font-family: verdana;
    font-size: 11px;
}

.login_warning {
    min-height: 30px;
}

.login_warning div {
    height: 30px;
    line-height:30px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}
