/* Predictor styles */
/*  TODO: replace box shadow with a background image
 */
#pred_b .predictor {
    display:    inline-block;
    width:  130px;
    height: 160px;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}

#pred_b .predictor .ticker {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#pred_b .predictor .ticker u {
    vertical-align: top;
    padding: 2px;
    font-size: 14px;
    color: #0000ff;
}

#pred_b .predictor .latest-price p {
    text-align: center;
}

#pred_b .predictor form {
}

/* TODO: create proper icons for arrows
 */
#pred_b .predictor .arrow {
    display: inline-block;
    width:  45px;
    height: 45px;
    margin: 5px;
}

#pred_b .predictor .down-arrow {
    background: transparent url(/images/down_inactive.gif) top left no-repeat;
    background-size:    100%;
}

#pred_b .predictor .down-arrow.selected {
    background: transparent url(/images/down_active.gif) top left no-repeat;
}

#pred_b .predictor .up-arrow {
    background: transparent url(/images/up_inactive.gif) top left no-repeat;
    background-size:    100%;
}

#pred_b .predictor .up-arrow.selected {
    background: transparent url(/images/up_active.gif) top left no-repeat;
}

/* Submit buttons */
#pred_b .predictor div.button-container {
}

#pred_b .predictor .button {
    display: inline-block;
    width: 45px;
    margin: 5px;
}

#pred_b .predictor .status-msg {
}

#pred_b .predictor .status-msg p {
    text-align: center;
}

.predictor .reset {
}

.predictor .save {
}
