/*
 * Registration form CSS
 */

#registration-form div {
    position:   relative;
    margin:     10px;
    padding:    5px;
}

#registration-form .required label:after {
    content: '*';
}

#registration-form fieldset {
    max-width:  1000;
    margin:     10px auto;
    padding:    10px;
}

#registration-form .label label {
    display:    inline-block;
    min-width:  140px;
    padding:    5px;
    text-align: right;
}

#registration-form input, #registration-form select {
    width: 150px;
}

#registration-form .error .error_message {
    position: absolute;
    left:     320px;
    padding:  5px;
}

/* Stop overlapping error messages */
#registration-form .error_constraint_equal.error_constraint_required .error_message.error_constraint_required {
    display: none;
}

/* Stop overlapping error messages */
#registration-form .error_constraint_equal.error_constraint_email .error_message.error_constraint_equal {
    display: none;
}

/* Div containing username field */
#registration-form #usercheck, #registration-form #usercheck .button {
    margin:  0px;
    padding: 0px;
}

/* Div containing Check button */
#registration-form #usercheck div.button {
    position: absolute;
    left: 320px;
    top: 5px;
    z-index: 10;
}

/* Check availability button */
#registration-form #check_availability {
    width: auto;
    padding: 2px 5px;
}

/* Class of the span containing availability message */
#registration-form #usercheck .check_message {
    position: absolute;
    padding:  5px;
    top:      5px;
    left:     385px;
    z-index:  10;
}

/* Modify position of error message */
#registration-form #usercheck .error_message {
    left:     370px;
    padding:  5px;
}

#registration-form #usercheck .available {
    border:     1px solid #2FD82C;
    color:      #006600;
    background: #99FF99;
}
