#result-accordion {
    font-size: 0;
}

#result-accordion .accordion-handle {
    display:        inline-block;
    width:          100%;
    height:        30px;
    line-height:   30px;
    background:    #EEE;
    border:        1px solid #AAA;
    border-radius: 5px;
    cursor:        pointer;
    font-size:      11px;
    text-align:     center;
    font-weight:    bold;
}

#result-accordion .accordion-handle:hover {
    background: #023254; /* NAVY */
    color:      #FFB453;
}

#result-accordion .accordion-handle .boxed {
    margin: 0 10px;
    padding: 2px 5px;
    border: 1px solid #FFB453;
}

#result-accordion .accordion-handle div {
    display: inline-block;
    text-align: center;
}

#result-accordion .period {
    width: 30%;
    text-decoration: underline;
}

#result-accordion .quantity,
#result-accordion .pc,
#result-accordion .points {
    width: 20%;
}

#result-accordion .period-results-head,
#result-accordion .period-results-body {
    font-size: 0;
}

#result-accordion .period-results-head div,
#result-accordion .period-results-row div {
    display:    inline-block;
    font-size: 11px;
}
