#result-accordion {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

#result-accordion tr.accordion-handle {
    height:         35px;
    background:     #EEE;
    border:         1px solid #AAA;
    border-radius:  5px;
    cursor:         pointer;
    font-size:      14px;
}

#result-accordion .accordion-handle:hover {
    /*
    background: #023254; /* NAVY */
    /*
    color:      #FFB453;
    */
}

#result-accordion .accordion-handle .boxed {
    margin: 0 5px;
    padding: 2px 5px;
    background: #FFF;
    border: 2px solid #FFB453;
}

#result-accordion .period {
    width: 30%;
    text-decoration: underline;
}

#result-accordion .quantity,
#result-accordion .pc,
#result-accordion .points {
    width: 20%;
}

/*
#result-accordion .top-spacer,
#result-accordion .bot-spacer {
    height: 10px;
    background-color: black;
}
*/

#result-accordion .top-spacer th {
    padding-top: 10px;
}

#result-accordion .bot-spacer td {
    padding-bottom: 10px;
}
