* {
    margin:  0;
    padding: 0;
    font-family: Arial;
}

label, a {
    font-size:   11px;
}

#content {
    max-width:  1024px;
    margin:     0 auto;
}

#header {
    background: transparent url(/images/header-bg.png) top left repeat-x;
}

#header-inner {
    max-width:  1400px;
    margin:     0 auto;
    padding:    15px 15px 5px 15px;
    position:   relative;
    height:     50px;
}

#account-widget {
    display:    block;
    color:      black;
    margin-top: 16px;
    padding:    0 10px;
    position:   absolute;
    z-index:    10;
    right:      0;
    top:        0;
}

/* Used by login buttons */
#account-widget .button * {
    display:    inline-block;
    float:      left;
}

/* Used by login buttons */
#account-widget .button {
    font-weight:    bold;
    height:         27px;
    margin:         0 10px;
}

/* Used by Join Now */
#account-widget .button a {
    height:         27px;
    line-height:    25px;
    padding:        0 10px;
    background-color:   white;
}

#account-widget .anonymous span, #account-widget .anonymous div {
    vertical-align: top;
    display:        inline-block;
}

/* Gap between Join Now and input fields */
#account-widget .spacer {
    height: 27px;
    width:  20px;
}

#account-widget .anonymous .credentials {
    font-weight:    bold;
    width:          290px;
}

#account-widget p {
    margin: 0;
    float:  left;
}

/* Handles invalid login */
#account-widget .anonymous .login-error form {
    display:    none;
}

/* Handles invalid login */
#account-widget .anonymous .login-error .error {
    display:    block;
}

/* Handles invalid login */
#account-widget .anonymous .error {
    display:    none;
}

/* Error message style */
#account-widget .error {
    border:     1px solid #D82F2C;
    color:      #D82F2C;
    background: #FDE8E7;
    font-weight:normal;
}

/* Error message icon */
#account-widget .error .alert {
    padding:    4px 5px 4px 26px;
    background: transparent url(/images/icon-alert.png) 8px 5px no-repeat;
}

/* TODO: adjust input styles */
#account-widget input {
    border:     1px solid #666;
    background: white;
    color:      black;
}

/* Login and Logout buttons */
#account-widget .submit input {
    height:         27px;
    line-height:    25px;
    padding:        0 10px;
    background-color:   white;
}

/* username and password fields */
#account-widget .login input {
    box-sizing: border-box;
    width:      105px;
    padding:    4px 8px;
}

/* Cant access your account text */
#account-widget .anonymous .credentials .lost-account a {
    color:  white;
}

/* Welcome message */
#account-widget .welcome {
    float:      left;
    color:      white;
    padding:    10px;
}

/* Navigation bar styles */

#header #navigation-bar {
    float:      left;
    width:      100%;
    background: transparent url(/images/nav-header-bg.png) top left repeat-x;
    position:   relative;
    overflow:   hidden;
}

#header #navigation-bar ul {
    float:          left;
    margin:         0 auto;
    height:         38px;
    position:       relative;
    left:           50%;
}

#header #navigation-bar ul li.current {
    background: transparent url(/images/nav-header-item-current-l.png) top left repeat-x;
}

#header #navigation-bar ul li {
    line-height:    12px;
    background:     transparent url(/images/nav-header-item-l.png) top left repeat-x;
    position:       relative;
    right:          50%;
}

#header #navigation-bar ul li.current a {
    color:  #2896BE;
}

#header #navigation-bar ul li a {
    display:        block;
    float:          left;
    padding:        10px 25px 0 25px;
    height:         28px;
    color:          white;
    font-weight:    bold;
}

#header #navigation-bar ul li.last {
    background: transparent url(/images/nav-item-last-r.png) top left repeat-x;
    display:    block;
    height:     34px;
    width:      3px;
}

#header ul li {
    list-style-type: none;
    display:         block;
    float:           left;
}

/*
 * Registration form CSS
 */

#registration-form div {
    position:   relative;
    margin:     10px;
    padding:    5px;
}

#registration-form .required label:after {
    content: '*';
}

#registration-form fieldset {
    max-width:  1024;
    margin:     10px auto;
    padding:    10px;
}

#registration-form .label label {
    display:    inline-block;
    min-width:  120px;
    padding:    5px;
    text-align: right;
}

#registration-form input, #registration-form select {
    width: 150px;
}

#registration-form .error {
    border:     1px solid #D82F2C;
    color:      #D82F2C;
    background: #FDE8E7;
}

#registration-form .error .error_message {
    position: absolute;
    left:     300px;
}

/* Stop overlapping error messages */
#registration-form .error_constraint_equal.error_constraint_required .error_message.error_constraint_required {
    display: none;
}
